.container{
    
    .tarj1{
        grid-area: tarj1;
        flex-direction: row;
        justify-content: center;
        padding: 1px;
        @include estiloCaja($bgfondo, $red)

    }
    .tarj2{
        grid-area: tarj2;
        flex-direction: row;
        justify-content: center;
        padding: 1px;
        @include estiloCaja($bgfondo, $red)
    }
    .tarj3{
        grid-area: tarj;
        flex-direction: row;
        justify-content: center;
        padding: 1px;
        @include estiloCaja($bgfondo2, $texto)
    }
    .tarj4{
        grid-area: tarj4;
        flex-direction: row;
        justify-content: center;
        padding: 1px;
        @include estiloCaja($bgfondo2, $texto)
    }
}